body {
    background: linear-gradient( top to bottom, #FFD580, #00008B);
}
body h1 {
    font-size: 60px;
    font-style: serif; 
    text-align: center;
    padding-top: 10%;
}
body form {
    text-align: center;
    
}
body form input{
    font-size: 30px;
    width:450px;
    height: 60px;
}
body form button {
    width: 180px;
    height: 60px;
    font-size: 40px;

}
