#img1 {
    width:400px;
    height:400px;
    Border: 6px solid blue;
    border-style: dashed;
    display: block;
    margin: 0 auto;
    
}
#table1 {
    font-size:25px;
    text-align: center;
    padding-top:100px;
    border-collapse: collapse;
    vertical-align: center;
    border: 2px solid blue;
}
#table1 th {
    border: 2px solid blue;
}
#table1 td {
    border: 2px solid blue;
}
#table2 {
    font-size:25px;
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
    border-collapse: collapse;
    vertical-align: center;
    border: 2px solid blue;
}
#table2 th {
    border: 2px solid blue;
}
#table2 td {
    border: 2px solid blue;
}