#img1 {
    align-self: center;
    width:500px;
    height:500px;
    Border: 4px solid blue;
    border-style: grove;
}
#table1 {
    font-size:25px;
    float:left;
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
    border-collapse: collapse;
    vertical-align: center;
    border: 2px solid blue;
}
#table1 th {
    border: 2px solid blue;
}
#table1 td {
    border: 2px solid blue;
}