
#nav_menu {
    float: left;
    padding: 1em;
}
#nav_menu ul {
    list-style-type: none;

}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;

}
body{
    clear:both;
}

aside {
    width: 20%;
    float: left;
    padding-left: 2em;

}
aside ol {
    list-style-type: upper-roman;
}
aside ol ul {
    list-style-type: square;
}